.question {
  font-weight: bold;
  text-align: left;
}

.answer {
  font-style: italic;
  text-align: left;
}

.qa-card {
  margin: 10px 5px 10px 5px;
  background-color: inherit;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.25),
    -3px -3px 10px 5px rgba(0, 0, 0, 0.22);
  border-width: 0px;
}

.del-btn {
  background-color: inherit;
  border-radius: 5px;
}
